html {
  background-color: #fff;
}

.nav {
  border-bottom: 1px solid #ccc;
}

.snippet-head-area {
  padding: 20px 0;
  margin-bottom: 30px;
  background-color: #fafafa;
}

/*
 * snippet-create
 */

.snippet-container {
  margin-top: 30px;
}

.snippet-container .snippet-editor {
  height: 400px;
  resize: vertical;
}

.snippet-container .control:not(:last-child) {
    margin-bottom: 20px;
}

.is-editor-active {
  display: none;
}

.is-preview-active {
  display: none;
}

.preview-area {
  border: solid 1px #ccc;
  padding: 20px;
  border-radius: 3px;
}