{{ define "header"}}

<head>
  <meta charset="UTF-8">
  <title>{{.Title}} | snicket</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/github-markdown.css">
  <link rel="stylesheet" href="assets/css/font/octicons.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <link rel="icon" href="assets/favicon.ico">
</head>

{{ end }}
