{{ define "nav" }}
<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-brand" href="/">
        <img src="assets/img/snicket.png" alt="snicket logo">
      </a>
    </div>

    <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
    </span>

    <div class="nav-right nav-menu">
      <span class="nav-item">
        <a class="button is-primary" href="create">
          <span class="icon"><i class="fa fa-pencil-square-o"></i></span>
        <span>Create snippet</span>
        </a>
      </span>
      <a class="nav-item" href="#">
        <img src="http://placehold.it/64x64" alt="Image">
      </a>
    </div>
  </div>
</nav>
{{ end }}